<component name="ArtifactManager">
  <artifact type="war" name="spring-strompath:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="mybus-2015-03-31-07-38.war">
      <element id="artifact" artifact-name="spring-strompath:war exploded" />
    </root>
  </artifact>
</component>