<legend>{{ headline }}</legend>

<div class="row">
    <div class="col-md-12"><button type="button" class="btn btn-primary btn-sm pull-right" ng-click="addCategoryTypeClicked()"><span class="glyphicon glyphicon-plus"></span>&nbsp; Add Category Type</button></div>
</div>

<br/>
<ol class="breadcrumb">
    <li><a ng-href="/#/categories">All {{ isCategory ? 'Categories' : 'Classifications' }}</a></li>
    <li>{{ currentCategory.name }}</li>
</ol>

<br/>
<br/>

<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
    <tr>
        <th>Category Type</th>
        <th>Edit Name</th>
        <th>Delete?</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="categoryType in typesMap[categoryId] | orderBy: 'name'">
        <td ng-click="editCategoryType(categoryType.id)" class="clickable-item">
            {{ categoryType.name }}
        </td>
        <td class="col-sm-1">
            <button type="button" class="btn btn-info btn-xs pull-left glyphicon glyphicon-pencil" ng-click="handleEditCategoryTypeNameClicked(categoryType)"></button>
        </td>
        <td class="col-sm-1">
            <button type="button" class="btn btn-danger btn-xs pull-left glyphicon glyphicon-remove" ng-really-click="deleteCategoryTypeClicked(categoryType.id)" ng-really-message="Are you sure you want to delete category type '{{categoryType.name}}'?"></button>
        </td>
    </tr>
    <tr ng-if="!typesMap[categoryId] || typesMap[categoryId].length === 0">
        <td colspan="3">No categories exist.  Please add some.</td>
    </tr>
    </tbody>
</table>

<form name="associatedClassificationForm">
<div ng-if="isCategory">
    <br/>
    <br/>
    <div class="bs-callout bs-callout-info">
        <div class="row">
            <div class="col-sm-8">
                <h4>Associated Classifications</h4>
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-sm btn-primary pull-right"
                        ng-disabled="associatedClassificationForm.$pristine"
                        ng-click="handleSaveClassificationAssociationsClicked()">
                    <i class="glyphicon glyphicon-floppy-disk"></i> &nbsp;Save
                </button>
            </div>
        </div>
        <p>Please choose which of the following classifications should be associated with the category '{{ currentCategory.name }}'.</p>
        <br/>

        <div ng-repeat="classification in classifications">
            <input type="checkbox" ng-change="handleClassificationCheckboxChanged(classification.id)" ng-model="classificationSelectionsModel[classification.id]">&nbsp;{{classification.name}}
        </div>
    </div>

    <br/>
    <br/>

</div>
</form>



<div id="infoOverlay">
    <div id="infoOverlayDetails"></div>
</div>
