<legend>{{ headline }}</legend>


<form name="conditionForm" class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-sm-2 control-label" for="nameInput">Name</label>
        <div class="col-sm-10">
            <input type="text" id="nameInput" class="form-control" ng-model="condition.name" ng-required>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="descriptionInput">Description</label>
        <div class="col-sm-10">
            <input type="text" id="descriptionInput" class="form-control" ng-model="condition.description" ng-required>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="icdCodeInput">ICD-9 Code</label>
        <div class="col-sm-10">
            <input type="text" id="icdCodeInput" class="form-control" ng-model="condition.icdCode" ng-required>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-primary" ng-click="saveButtonClicked()"><i class="glyphicon glyphicon-floppy-disk"></i> {{saveButtonText}}</button>
            <button ng-show="!isAdd" class="btn btn-danger" ng-click="deleteButtonClicked()"><i class="glyphicon glyphicon-remove"></i> Delete</button>
        </div>
    </div>

    <br/>
    <br/>

</form>


<br/>
<br/>
<br/>


<accordion close-others="oneAtATime">
    <accordion-group is-open="status.open">
        <accordion-heading>
            <div class="debug-accordion">
                <i class="glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i> Debug info
            </div>
        </accordion-heading>
        <pre class="tiny-debug" ng-bind="condition | json"></pre>
    </accordion-group>
</accordion>